body{
font-family: Arial;
margin:40px;
background:#f4f6f9;
}

h1{
color:#2c3e50;
}

form{
margin-bottom:20px;
}

input,select{
padding:8px;
margin:5px;
}

button{
padding:10px;
background:#3498db;
color:white;
border:none;
}

table{
margin-top:20px;
background:white;
}